# Python basics

* Practioner: Cleiber Garcia
* Date: 20 of November, 2022
* Objective: Practicing working with data aggregation

This notebook is based on the notebook written by Boris Pashkaver for the Course Data Analysis with Pandas and Python (Section 2: Crash Python Course), offered at Udemy. Although the degree of similarity between both notebooks is almost 100%, I built this notebook step by step.

Link: https://www.udemy.com/course/data-analysis-with-pandas/

For more information feel free to contact me at cleiber.garcia@gmail.com

## Comments

In [5]:
2 + 2 # Solve really complex mathematical expression using Python
# 3 + 3

4

## Basic Data Types

In [8]:
# Integers
print("*** Integers ***")
print(5)
print(10)
print(10)
print(0)

*** Integers ***
5
10
10
0

In [7]:
# Float
print('*** Float ***')
print(3.14)
print(9.99)
print(-113.23819)

*** Float ***
3.14
9.99
-113.23819

In [11]:
# Strings
print('*** Strings ***')
print('"Peter"')
print('"147.21"')
print("'$128.53 dollars'")
print('""')
print("''")

*** Strings ***
"Peter"
"147.21"
'$128.53 dollars'
""
''

In [15]:
# Boolean
print('*** Boolean ***')
print(True)
print(False)
print('5 < 7: ', 5 < 7)
print("10 > 12: ", 10 > 12)

*** Boolean ***
True
False
5 < 7:  True
10 > 12:  False

In [16]:
# None versus False in Python
# The only way None and False are related in Python is that the truth value of None is False. 
# This means when you convert None to a boolean, you get a False:

print('None == False: ', None == False)
print('bool(None) == False: ', bool(None) == False)

None == False:  False
bool(None) == False:  True

## Operators

In [20]:
print('*** Addition ***')
print('5 + 3: ', 5 + 3)
print('3.14 + 7.96: ', 3.14 + 7.96)

*** Addition ***
5 + 3:  8
3.14 + 7.96:  11.1

In [21]:
print('*** Subtraction ***')
print('10 - 5: ', 10 - 5)
print('5.7834 - 2.529: ', 5.7834 - 2.529)

*** Subtraction ***
10 - 5:  5
5.7834 - 2.529:  3.2544000000000004

In [19]:
print('*** Concatenation ***')
print('"race" + "car": ', "race" + "car")

*** Concatenation ***
"race" + "car":  racecar

In [32]:
print('*** Multiplication ***')
print('5 * 3: ', 5 * 3)
print('8.29 * 12,83: ', 8.72 * 12,8354)
print('"abc|" * 5: ', "abc|" * 5)

*** Multiplication ***
5 * 3:  15
8.29 * 12,83:  104.64000000000001 8354
"abc|" * 5:  abc|abc|abc|abc|abc|

In [46]:
print('*** Division ***')
print('15 / 4: ', 15 / 4) # Division with decimals in the quocient
print('15 // 4: ', 15 // 4) # Division with integer quocient

*** Division ***
15 / 4:  3.75
15 // 4:  3

In [50]:
print('*** Exponentiation ***')
print('2 ** 3: ', 2 ** 3) # same as 2 * 2 * 2
print("7.45 ** 4: ", 7.45 ** 4) # same as 7.45 * 7.45 * 7.45 * 7.45

*** Exponentiation ***
2 ** 3:  8
7.45 ** 4:  3080.5275062500004

In [45]:
# Remainder (Modulo)
print('14 % 3: ', 14 % 3)
print('10 % 2: ', 10 % 2)
print('21 % 7: ', 21 % 7)
print('22 % 7: ', 22 % 7)
print('10.50 % 2: ', 10.80 % 2)

14 % 3:  2
10 % 2:  0
21 % 7:  0
22 % 7:  1
10.50 % 2:  0.8000000000000007

In [58]:
# Equality operator
print('*** Equality Operator ***')
print('1 == 1: ', 1 == 1)
print('1 == 2: ', 1 == 2)
print('1.0 == 1: ', 1.0 == 1)
print('Hello == Hello: ', 'Hello' == "Hello")
print('HeLLo == Hello: ', 'HeLLo' == "Hello")
print('True == True: ', True == True)
print('False == False: ', False == False)
print('True == False: ', True == False)

*** Equality Operator ***
1 == 1:  True
1 == 2:  False
1.0 == 1:  True
Hello == Hello:  True
HeLLo == Hello:  False
True == True:  True
False == False:  True
True == False:  False

In [65]:
print('*** Inequality operator ***')
print('5 != 10: ', 5 != 10)
print('"Hello" != "Goodbye": ', "Hello" != "Goodbye")
print('8.0 != 8: ', 8.0 != 8)
print('3 != 3: ', 3 != 3)

*** Inequality operator ***
5 != 10:  True
"Hello" != "Goodbye":  True
8.0 != 8:  False
3 != 3:  False

In [72]:
print('*** Relation of Order ***')
print('5 < 8: ', 5 < 8) # less than
print('5 < 5: ', 5 < 5) # Less than
print('5 <= 8: ', 5 <= 8) # less than or equal
print('5 <= 5: ', 5 <= 5) # Less than or equal
print('')
print('5 > 2: ', 5 > 2) # Greater than
print('5 > 5: ', 5 > 5) # Greater than
print('5 >= 2: ', 5 >= 2) # Greater than or equal
print('5 >= 5: ', 5 >= 5) # Greater than or equal

*** Relation of Order ***
5 < 8:  True
5 < 5:  False
5 <= 8:  True
5 <= 5:  True

5 > 2:  True
5 > 5:  False
5 >= 2:  True
5 >= 5:  True

## Variables

In [82]:
age = 55
age

55

In [83]:
print(age + 5)

60

In [84]:
price = 19.99
first_name = "Cleiber"
profession = "Software Engineer"
is_handsome = True

In [85]:
first_name

'Cleiber'

In [86]:
is_handsome

True

In [87]:
first_name + " is awesome"

'Cleiber is awesome'

In [88]:
age

55

In [89]:
profession

'Software Engineer'

In [90]:
profession = "Python Developer"

In [91]:
profession

'Python Developer'

## Built-in Functions

In [92]:
len("How many characters do we have here?")

36

In [93]:
str(3.14)

'3.14'

In [94]:
int("10")

10

In [95]:
float("9.384")

9.384

In [96]:
type(5)

int

In [97]:
type(3.14)

float

In [98]:
type("PlayStation")

str

In [99]:
type(True)

bool

In [103]:
type(False)

bool

In [105]:
type(None)

NoneType

In [106]:
type(None) == type(False)

False

In [101]:
type(10) == type(15)

True

In [102]:
type(10) == type("10")

False

## Custom Functions

In [3]:
# Declare a function that accepts a temperature in Celsius and returns it in Fahrenheit
def convert_to_fahrenheit(celsius_temp):
    product = celsius_temp * 1.8
    return product + 32

temperature_celsius = 27
temperature_fahrenheit = convert_to_fahrenheit(temperature_celsius)
print(f'{temperature_celsius} degrees celsius is {temperature_fahrenheit} degrees fahrenheit')

27 degrees celsius is 80.6 degrees fahrenheit

## String Methods

In [4]:
profession = "Developer"

In [5]:
profession.upper()

'DEVELOPER'

In [6]:
"Developer".upper()

'DEVELOPER'

In [7]:
profession.lower()

'developer'

In [8]:
profession.swapcase()

'dEVELOPER'

In [9]:
# immutable --> incapable of change
# mutable --> capable of change

# string --> immutable

In [10]:
profession

'Developer'

In [11]:
"once upon a time".title()

'Once Upon A Time'

In [12]:
"once upon a time".capitalize()

'Once upon a time'

In [13]:
"ronald mcdonald".title()

'Ronald Mcdonald'

In [16]:
profession = "        Developer          "

In [17]:
profession.lstrip() # left strip

'Developer          '

In [18]:
profession.rstrip() # right strip

'        Developer'

In [20]:
profession.strip() # both left and right strip

'Developer'

In [21]:
profession.replace("e", "*")

'        D*v*lop*r          '

In [22]:
profession.strip().replace("e", "*")

'D*v*lop*r'

In [23]:
animal = "rhinoceros"

In [24]:
animal.startswith("rhino")

True

In [25]:
animal.startswith("kjaskjas")

False

In [26]:
animal.startswith("r")

True

In [27]:
animal.startswith("R")

False

In [28]:
animal.endswith("ros")

True

In [29]:
animal.endswith("s")

True

In [30]:
animal.endswith("zzz")

False

In [31]:
"ino" in animal

True

In [32]:
"r" in animal

True

In [33]:
"ceros" in animal

True

In [34]:
"z" in animal

False

In [35]:
"z" not in animal

True

In [36]:
"rhino" not in animal

False

## Lists

In [37]:
# Mutable data structure that holds an ordered collection of elements

In [38]:
[1, 2, 3, 4]

[1, 2, 3, 4]

In [39]:
[True, False, False, True]

[True, False, False, True]

In [40]:
party_attendees = ["Michael", "Freddy", "Jason"]

In [41]:
party_attendees

['Michael', 'Freddy', 'Jason']

In [42]:
[]

[]

In [43]:
len(party_attendees)

3

In [44]:
type(party_attendees)

list

In [45]:
presidents = ["Washington", "Jefferson"]

In [46]:
presidents.append("Madison")

In [47]:
presidents

['Washington', 'Jefferson', 'Madison']

In [48]:
popcorn = ["Salted", "Unsalted", "Caramel"]
popcorn

['Salted', 'Unsalted', 'Caramel']

In [49]:
popcorn.pop()

'Caramel'

In [50]:
popcorn

['Salted', 'Unsalted']

In [51]:
popcorn.remove("Salted")

In [52]:
popcorn

['Unsalted']

In [53]:
"cat" in "caterpillar"

True

In [54]:
planets = ["Mercury", "Venus", "Earth", "Mars"]

In [55]:
"Earth" in planets

True

In [56]:
"earth" in planets

False

In [57]:
"Pluto" not in planets

True

In [58]:
"Mars" not in planets

False

In [60]:
my_list = ["abc", 123, True, 5.78]
my_list

['abc', 123, True, 5.78]

In [68]:
# Print the elements of my_list
# A list starts with index 0
for i in [0,1,2,3]:
    print(f'my_list[{i}]: ', my_list[i])

my_list[0]:  abc
my_list[1]:  123
my_list[2]:  True
my_list[3]:  5.78

## Index Positions and Slicing

In [69]:
spiderman = "Spiderman"

In [70]:
len(spiderman)

9

In [81]:
# 0 1 2 3 4 5 6 7 8 <-- index in ascending order
# S p i d e r m a n 
print('spiderman[0]: ', spiderman[0])
print('spiderman[1]: ', spiderman[1])
print('spiderman[8]: ', spiderman[8])
print('spiderman[5:8]: ', spiderman[5:8]) # print just 5, 6 and 7

spiderman[0]:  S
spiderman[1]:  p
spiderman[8]:  n
spiderman[5:8]:  rma

In [84]:
# -9  -8  -7  -6  -5  -4  -3  -2  -1 <-- index in descending order
#  S   p   i   d   e   r   m   a   n 
print('spiderman[-1]: ', spiderman[-1])
print('spiderman[-2]: ', spiderman[-2])
print('spiderman[-3]: ', spiderman[-3])
print('spiderman[-8]: ', spiderman[-8])
print('spiderman[-9]: ', spiderman[-9])
print('spiderman[-9:-5]: ', spiderman[-9:-5]) # print just -9, -8, -7 and -6

spiderman[-1]:  n
spiderman[-2]:  a
spiderman[-3]:  m
spiderman[-8]:  p
spiderman[-9]:  S
spiderman[-9:-5]:  Spid

In [96]:
#   index -->      0         1            2           3               4
#   index -->     -5        -4           -3          -2              -1
superheroes = ["Batman", "Superman", "Wolverine", "Ironman", "Arnold Schwarzenegger"]

In [97]:
len(superheroes)

5

In [98]:
print('superheroes: ', superheroes)
print('superheroes[0]: ', superheroes[0])
print('superheroes[2]: ', superheroes[2])
print('superheroes[4]: ', superheroes[4])

superheroes:  ['Batman', 'Superman', 'Wolverine', 'Ironman', 'Arnold Schwarzenegger']
superheroes[0]:  Batman
superheroes[2]:  Wolverine
superheroes[4]:  Arnold Schwarzenegger

In [99]:
print('superheroes: ', superheroes)
print('superheroes[-1]: ', superheroes[-1])
print('superheroes[-3]: ', superheroes[-3])

superheroes:  ['Batman', 'Superman', 'Wolverine', 'Ironman', 'Arnold Schwarzenegger']
superheroes[-1]:  Arnold Schwarzenegger
superheroes[-3]:  Wolverine

In [150]:
print('superheroes: ', superheroes)
print('superheroes[1:3]: ', superheroes[1:3])
print('superheroes[2:4]: ', superheroes[2:4])
print('superheroes[2:]: ', superheroes[2:]) # print 2, 3 and 4
print('superheroes[:4]: ', superheroes[:4]) # print 0, 1, 2 and 3
print('superheroes[:]: ', superheroes[:])

superheroes:  ['Batman', 'Superman', 'Wolverine', 'Ironman', 'Arnold Schwarzenegger']
superheroes[1:3]:  ['Superman', 'Wolverine']
superheroes[2:4]:  ['Wolverine', 'Ironman']
superheroes[2:]:  ['Wolverine', 'Ironman', 'Arnold Schwarzenegger']
superheroes[:4]:  ['Batman', 'Superman', 'Wolverine', 'Ironman']
superheroes[:]:  ['Batman', 'Superman', 'Wolverine', 'Ironman', 'Arnold Schwarzenegger']

In [152]:
my_list = [5, "xyz"]
my_list

[5, 'xyz']

In [154]:
my_list[0] = "abc"
my_list

['abc', 'xyz']

## Dictionaries

In [121]:
# An unordered collection of key-value pairs

In [122]:
menu = {
    "Filet Mignon": 29.99,
    "Big Mac": 3.99,
    "Pizza": 0.99,
    "Salmon": 29.99
}

In [123]:
menu

{'Filet Mignon': 29.99, 'Big Mac': 3.99, 'Pizza': 0.99, 'Salmon': 29.99}

In [124]:
len(menu)

4

In [125]:
menu["Big Mac"]

3.99

In [126]:
menu

{'Filet Mignon': 29.99, 'Big Mac': 3.99, 'Pizza': 0.99, 'Salmon': 29.99}

In [127]:
menu["Burrito"] = 13.99

In [128]:
menu

{'Filet Mignon': 29.99,
 'Big Mac': 3.99,
 'Pizza': 0.99,
 'Salmon': 29.99,
 'Burrito': 13.99}

In [129]:
menu["Big Mac"] = 5.99

In [130]:
menu

{'Filet Mignon': 29.99,
 'Big Mac': 5.99,
 'Pizza': 0.99,
 'Salmon': 29.99,
 'Burrito': 13.99}

In [131]:
menu.pop("Filet Mignon") # remove "Filet Mignon" of the dictionary

29.99

In [132]:
menu.pop("Pizza") # remove "Pizza" of the dictionary

0.99

In [133]:
menu

{'Big Mac': 5.99, 'Salmon': 29.99, 'Burrito': 13.99}

In [134]:
"Pizza" in menu

False

In [135]:
"Hot Pockets" in menu

False

In [136]:
"Bubble Gum" not in menu

True

In [137]:
"Burrito" not in menu

False

In [138]:
5.99 in menu

False

In [139]:
menu.values()

dict_values([5.99, 29.99, 13.99])

In [140]:
5.99 in menu.values()

True

In [142]:
99.95 in menu.values()

False

## Tuples

In [147]:
# A tuple is a collection of data which is ordered and unchangeable.

In [148]:
my_tuple = (1, "abc")

In [144]:
print(my_tuple[0])

1

In [146]:
print(my_tuple[1])

abc

In [149]:
my_tuple[1] = 'xyz' # try to modify a tuple and raises an error

TypeError: 'tuple' object does not support item assignment

## Sets

In [ ]:
# Sets are collections of elements without repetition

In [156]:
my_set = {1, 1, 2, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

In [166]:
# Removing duplicates of a list
my_list = [1, 1, 2, 3, 4, 5, 5]
print('my_list: ', my_list)

my_set = set(my_list)

print('my_set: ', my_set)

my_list:  [1, 1, 2, 3, 4, 5, 5]
my_set:  {1, 2, 3, 4, 5}