# 01 - Practice - Working with Jypyter Notebook

* Practioner: Cleiber Garcia
* Date: 18 of November, 2022
* Objective: Practicing working with data aggregation

This notebook is based on the notebook written by Boris Pashkaver for the Course Data Analysis with Pandas and Python (Section 1.13: Introduction to the Jupyter Notebook), offered at Udemy. Although the degree of similarity between both notebooks is almost 100%, I built this notebook step by step.

Link: https://www.udemy.com/course/data-analysis-with-pandas/

For more information feel free to contact me at cleiber.garcia@gmail.com

In [52]:
3+5

8

In [4]:
4+5

9

In [6]:
9-8

1

In [7]:
3-2

1

In [3]:
123

123

In [6]:
'home'

'home'

In [7]:
"street"

'street'

In [14]:
# Importing packages Pandas and NumPy
import pandas as pd
import numpy as np

In [15]:
pd.__version__ .strip()

'1.4.2'

In [1]:
def do_stuff(name):
   return name.lower() + " the Great"
 
do_stuff("  Peter  ")

'  peter   the Great'

In [19]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [8]:
def do_stuff(name):
   return name.lower().strip() + " the Great"
 
do_stuff("  Peter  ")

'peter the Great'

In [18]:
name = 'cleiber garcia'

In [23]:
name

'cleiber garcia'

In [24]:
name.upper()

'CLEIBER GARCIA'

In [25]:
name.capitalize()

'Cleiber garcia'

In [26]:
print(name)

cleiber garcia

In [28]:
name.swapcase()

'CLEIBER GARCIA'

In [29]:
name.upper()

'CLEIBER GARCIA'

In [30]:
name.capitalize()

'Cleiber garcia'

In [31]:
print(name)

cleiber garcia

In [32]:
name.replace('r', 'x')

'cleibex gaxcia'

In [33]:
name.replace('/e/i/a', '*')

'cleiber garcia'

In [34]:
len(name)

14

In [10]:
# Declare a function that accepts a temperature in Celsius and returns it in Fahrenheit

def convert_to_fahrenheit(celsius_temp):
    return (celsius_temp * 1.8) + 32

print(convert_to_fahrenheit(23))

73.4

In [13]:
print(convert_to_fahrenheit(0))  # from 0 degrees Celsius to ??? degrees Fahrenheit

32.0

In [20]:
print(convert_to_fahrenheit(27)) # from 27 degrees Celsius to ??? degrees Fahrenheit

80.6

In [21]:
name

'cleiber garcia'

In [25]:
name[3]

'i'

In [27]:
name = 'Julio Cezar'
name

'Julio Cezar'

In [28]:
# Error: string object does not support item assignment
name[5] = 'x'

TypeError: 'str' object does not support item assignment

In [41]:
popcorn = ["Salted", "Unsalted", "Caramel"]
popcorn

['Salted', 'Unsalted', 'Caramel']

In [42]:
popcorn.append('sweety')
popcorn

['Salted', 'Unsalted', 'Caramel', 'sweety']

In [43]:
popcorn.pop()

'sweety'

In [44]:
superheroes = ["Batman", "Superman", "Wolverine", "Ironman", "Arnold Schwarzenegger"]

In [45]:
superheroes

['Batman', 'Superman', 'Wolverine', 'Ironman', 'Arnold Schwarzenegger']

In [46]:
superheroes[3]

'Ironman'

In [49]:
superheroes[0]

'Batman'

In [51]:
for i in [0,1,2,3,4]:
    print(superheroes[i])

Batman
Superman
Wolverine
Ironman
Arnold Schwarzenegger

In [56]:
for i in range(0,5): # 0, 1, 2, 3, 4
    print(superheroes[i])

Batman
Superman
Wolverine
Ironman
Arnold Schwarzenegger

In [32]:
menu = {
    "Filet Mignon": 29.99,
    "Big Mac": 3.99,
    "Pizza": 0.99,
    "Salmon": 29.99
}

In [33]:
menu.pop('Filet Mignon')

29.99

In [34]:
menu.pop('Pizza')

0.99

In [35]:
menu['Burrito'] = 13.99
menu

{'Big Mac': 3.99, 'Salmon': 29.99, 'Burrito': 13.99}

In [37]:
menu.values()

dict_values([3.99, 29.99, 13.99])

In [38]:
menu.keys()

dict_keys(['Big Mac', 'Salmon', 'Burrito'])

In [44]:
# Looping through all keys
for key in menu.keys():
    print(key)

Big Mac
Salmon
Burrito

### Exercise 1

In [45]:

# CHALLENGE 
# Invoke the str function and pass it the number 99.
# The str function will return a string. Concatenate " problems" to the end of that string.
# Assign the final value to an "issues" variable.
# Thus, your "issues" variable should have a final value of "99 problems"

In [46]:
def convert_to_currency(amount_money):
    amount_dollars = "$" + str(amount_money)
    return amount_dollars

In [47]:
convert_to_currency(15.32)

'$15.32'

In [48]:
party_attendees = "Sharon, James, Ron, Blake"

is_attending = "Ron" in party_attendees
is_attending

True

In [82]:
def cleanup(input_string):
    output_string = input_string.strip().capitalize()
    return output_string

In [83]:
print(cleanup('    cleiber    '))

Cleiber

In [84]:
print(cleanup('   my name is Cleiber    '))

My name is cleiber

In [88]:
def is_long(list_1):
    if (len(list_1) > 5):
        return True
        
print(is_long((1,2,3,4,5,6)))

True

In [49]:
a = (1,2,3,4,5)
print(len(a))

5

In [50]:
print(len(a))

5