# Working with Pandas Series

* Practioner: Cleiber Garcia
* Date: 15 of January, 2023
* Objective: Practice working with Series data type

This notebook is based on the notebook written by Boris Pashkaver for the Course Data Analysis with Pandas and Python (Section 3: Series), offered at Udemy. Although the degree of similarity between both notebooks is almost 100%, I built this notebook step by step.

Link: https://www.udemy.com/course/data-analysis-with-pandas/

For more information feel free to contact me at cleiber.garcia@gmail.com

In [1]:
import pandas as pd

In [2]:
# Below, we have a list of delicious tortilla chip flavors
flavors = ["Spicy Sweet Chili", "Cool Ranch", "Nacho Cheese", "Salsa Verde"]

In [3]:
flavors

['Spicy Sweet Chili', 'Cool Ranch', 'Nacho Cheese', 'Salsa Verde']

In [4]:
type(flavors)

list

In [5]:
doritos = pd.Series(flavors)

In [6]:
doritos

0    Spicy Sweet Chili
1           Cool Ranch
2         Nacho Cheese
3          Salsa Verde
dtype: object

In [7]:
type(doritos)

pandas.core.series.Series

In [8]:
doritos

0    Spicy Sweet Chili
1           Cool Ranch
2         Nacho Cheese
3          Salsa Verde
dtype: object

In [9]:
sorted_doritos = doritos.sort_values(ascending=False)

In [12]:
sorted_doritos

0    Spicy Sweet Chili
3          Salsa Verde
2         Nacho Cheese
1           Cool Ranch
dtype: object

In [10]:
# Dictionary mapping guitar types to their colors
guitars_dict = {
    "Fender Telecaster": "Baby Blue",
    "Gibson Les Paul": "Sunburst",
    "ESP Eclipse": "Dark Green"}

In [11]:
guitars = pd.Series(guitars_dict)

In [12]:
guitars_dict

{'Fender Telecaster': 'Baby Blue',
 'Gibson Les Paul': 'Sunburst',
 'ESP Eclipse': 'Dark Green'}

In [13]:
guitars

Fender Telecaster     Baby Blue
Gibson Les Paul        Sunburst
ESP Eclipse          Dark Green
dtype: object

In [14]:
guitars[0]

'Baby Blue'

In [15]:
gibson_color = guitars["Gibson Les Paul"]

In [16]:
gibson_color

'Sunburst'

In [17]:
for i in [0,1,2]:
    print(guitars.index[i], " ", guitars.values[i])

Fender Telecaster   Baby Blue
Gibson Les Paul   Sunburst
ESP Eclipse   Dark Green

In [21]:
employees_df = pd.read_csv("../pandas_datasets/employees.csv", usecols=["First Name", "Gender", "Salary"])
employees_df

    First Name  Gender  Salary
0      Douglas    Male   97308
1       Thomas    Male   61933
2        Maria  Female  130590
3        Jerry    Male  138705
4        Larry    Male  101004
..         ...     ...     ...
995      Henry     NaN  132483
996    Phillip    Male   42392
997    Russell    Male   96914
998      Larry    Male   60500
999     Albert    Male  129949

[1000 rows x 3 columns]

In [22]:
type(employees_df)

pandas.core.frame.DataFrame

In [23]:
employees_series = employees_df.squeeze("columns")
employees_series

    First Name  Gender  Salary
0      Douglas    Male   97308
1       Thomas    Male   61933
2        Maria  Female  130590
3        Jerry    Male  138705
4        Larry    Male  101004
..         ...     ...     ...
995      Henry     NaN  132483
996    Phillip    Male   42392
997    Russell    Male   96914
998      Larry    Male   60500
999     Albert    Male  129949

[1000 rows x 3 columns]

In [24]:
type(employees_series)

pandas.core.frame.DataFrame

In [25]:
import pandas as pd

In [26]:
hot_dogs = pd.read_csv("hot_dogs_championship.csv", usecols=["Winner"]).squeeze("columns")

In [27]:
hot_dogs

0         Joey Chestnut
1         Joey Chestnut
2         Joey Chestnut
3         Joey Chestnut
4         Joey Chestnut
5         Joey Chestnut
6           Matt Stonie
7         Joey Chestnut
8         Joey Chestnut
9         Joey Chestnut
10        Joey Chestnut
11        Joey Chestnut
12        Joey Chestnut
13        Joey Chestnut
14        Joey Chestnut
15     Takeru Kobayashi
16     Takeru Kobayashi
17     Takeru Kobayashi
18     Takeru Kobayashi
19     Takeru Kobayashi
20     Takeru Kobayashi
21        Kazutoyo Arai
22         Steve Keiner
23    Hirofumi Nakajima
24    Hirofumi Nakajima
25    Hirofumi Nakajima
26           Ed Krachie
27           Ed Krachie
28          Mike DeVito
29          Mike DeVito
30          Mike DeVito
31    Frankie Dellarosa
32    Frankie Dellarosa
33          Mike DeVito
34            Jay Green
35            Jay Green
36          Don Wolfman
37          Mark Heller
38     Hiroaki Tominaga
39      Oscar Rodriguez
40        Birgit Felden
41           Emil Gomez
42        Steven Abrams
43       Thomas DeBerry
44          Joe Baldini
45          Jim Mattner
46     Manel Hollenback
47         Lonnie Brown
48       Roberto Muriel
49        John Connolly
50              Unknown
51              Unknown
52      Melody Andorfer
53      Jason Schechter
54          Walter Paul
Name: Winner, dtype: object

In [28]:
hot_dogs.shape

(55,)

In [29]:
hot_dogs.size

55

In [32]:
hot_dogs.info()

<class 'pandas.core.series.Series'>
RangeIndex: 55 entries, 0 to 54
Series name: Winner
Non-Null Count  Dtype
--------------  -----
55 non-null     object
dtypes: object(1)
memory usage: 568.0+ bytes

In [58]:
hot_dogs

0         Joey Chestnut
1         Joey Chestnut
2         Joey Chestnut
3         Joey Chestnut
4         Joey Chestnut
5         Joey Chestnut
6           Matt Stonie
7         Joey Chestnut
8         Joey Chestnut
9         Joey Chestnut
10        Joey Chestnut
11        Joey Chestnut
12        Joey Chestnut
13        Joey Chestnut
14        Joey Chestnut
15     Takeru Kobayashi
16     Takeru Kobayashi
17     Takeru Kobayashi
18     Takeru Kobayashi
19     Takeru Kobayashi
20     Takeru Kobayashi
21        Kazutoyo Arai
22         Steve Keiner
23    Hirofumi Nakajima
24    Hirofumi Nakajima
25    Hirofumi Nakajima
26           Ed Krachie
27           Ed Krachie
28          Mike DeVito
29          Mike DeVito
30          Mike DeVito
31    Frankie Dellarosa
32    Frankie Dellarosa
33          Mike DeVito
34            Jay Green
35            Jay Green
36          Don Wolfman
37          Mark Heller
38     Hiroaki Tominaga
39      Oscar Rodriguez
40        Birgit Felden
41           Emil Gomez
42        Steven Abrams
43       Thomas DeBerry
44          Joe Baldini
45          Jim Mattner
46     Manel Hollenback
47         Lonnie Brown
48       Roberto Muriel
49        John Connolly
50              Unknown
51              Unknown
52      Melody Andorfer
53      Jason Schechter
54          Walter Paul
Name: Winner, dtype: object

In [62]:
hot_dogs.value_counts()

Joey Chestnut        14
Takeru Kobayashi      6
Mike DeVito           4
Hirofumi Nakajima     3
Unknown               2
Jay Green             2
Frankie Dellarosa     2
Ed Krachie            2
Thomas DeBerry        1
Melody Andorfer       1
Jason Schechter       1
John Connolly         1
Roberto Muriel        1
Lonnie Brown          1
Manel Hollenback      1
Jim Mattner           1
Joe Baldini           1
Birgit Felden         1
Steven Abrams         1
Emil Gomez            1
Matt Stonie           1
Oscar Rodriguez       1
Hiroaki Tominaga      1
Mark Heller           1
Don Wolfman           1
Steve Keiner          1
Kazutoyo Arai         1
Walter Paul           1
Name: Winner, dtype: int64