# Working with Dates and Times in Data Sets

* Practioner: Cleiber Garcia
* Date: 18 of February, 2023
* Objective: Practicing working with dates and times in data sets

This notebook is based on the notebook written by Boris Pashkaver for the Course Data Analysis with Pandas and Python (Section 11: Working with Dates and Times in DataSets), offered at Udemy. Although the degree of similarity between both notebooks is almost 100%, I built this notebook step by step.

Link: https://www.udemy.com/course/data-analysis-with-pandas/

For more information feel free to contact me at cleiber.garcia@gmail.com

## Importing Libraries

In [2]:
import pandas as pd
import datetime as dt

## Review of Python's `datetime` Module

In [18]:
# Define a birthday date to 2010-01-20 (AAAA-MM-DD)
john_birthday = dt.date(2010, 1, 20)
john_birthday

datetime.date(2010, 1, 20)

In [8]:
john_birthday.year

2010

In [9]:
john_birthday.month

1

In [10]:
john_birthday.day

20

In [20]:
# Convert the birthday date to string
str(john_birthday)

'2010-01-20'

In [21]:
# Set date and time to 2010-01-10, 17:13:57
dt.datetime(2010, 1, 10, 17, 13, 57)

datetime.datetime(2010, 1, 10, 17, 13, 57)

In [22]:
# Set date and time to 2010-01-10, 17:13:57 and format to string
str(dt.datetime(2010, 1, 10, 17, 13, 57))

'2010-01-10 17:13:57'

## The `pandas Timestamp` Object

In [31]:
print('pd.Timestamp("2015-03-31"): ', pd.Timestamp("2015-03-31"))
print('pd.Timestamp("2015/03/31"): ', pd.Timestamp("2015/03/31"))
print('pd.Timestamp("2013, 11, 04"): ', pd.Timestamp("2013, 11, 04"))
print('pd.Timestamp("1/1/2015"): ', pd.Timestamp("1/1/2015"))
print('pd.Timestamp("19/12/2015"): ', pd.Timestamp("19/12/2015"))
print('pd.Timestamp("12/19/2015"): ', pd.Timestamp("12/19/2015"))
print('pd.Timestamp("4/3/2000"): ', pd.Timestamp("4/3/2000"))
print('pd.Timestamp("2021-03-08 08:35:15"): ', pd.Timestamp("2021-03-08 08:35:15"))
print('pd.Timestamp("2021-03-08 6:13:29 PM"): ', pd.Timestamp("2021-03-08 6:13:29 PM"))

pd.Timestamp("2015-03-31"):  2015-03-31 00:00:00
pd.Timestamp("2015/03/31"):  2015-03-31 00:00:00
pd.Timestamp("2013, 11, 04"):  2013-11-04 00:00:00
pd.Timestamp("1/1/2015"):  2015-01-01 00:00:00
pd.Timestamp("19/12/2015"):  2015-12-19 00:00:00
pd.Timestamp("12/19/2015"):  2015-12-19 00:00:00
pd.Timestamp("4/3/2000"):  2000-04-03 00:00:00
pd.Timestamp("2021-03-08 08:35:15"):  2021-03-08 08:35:15
pd.Timestamp("2021-03-08 6:13:29 PM"):  2021-03-08 18:13:29

In [32]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [33]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

Timestamp('2000-02-03 21:35:22')

## The `pandas DateTimeIndex` Object

In [34]:
dates = ["2016/01/02", "2016/04/12", "2009/09/07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [35]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [36]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

## The `pd.to_datetime()` Method

In [9]:
pd.to_datetime("2001-04-19")

Timestamp('2001-04-19 00:00:00')

In [11]:
pd.to_datetime(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [13]:
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))

Timestamp('2015-01-01 14:35:20')

In [14]:
pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [15]:
# Create a Series with dates
times = pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [16]:
# Convert times do datetime
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [18]:
# Serie of dates with invalid dates
dates = pd.Series(["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [20]:
# Coerce dates, forcing values that are not dates to NaT
pd.to_datetime(dates, errors = "coerce")

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [21]:
# Convert amounts of seconds to dates
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit = "s")

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

In [22]:
pd.Period("2016-01-08", freq = "10D")

Period('2016-01-08', '10D')

In [24]:
dates = ["2016-01-01", "2016-02-01", "2016-03-01"]
dates

['2016-01-01', '2016-02-01', '2016-03-01']

In [30]:
pd.Series([1,2,3], index = pd.PeriodIndex(dates, freq = "2M"))

2016-01    1
2016-02    2
2016-03    3
Freq: 2M, dtype: int64

In [65]:
pd.Period("2023-01-08", freq = "W")

Period('2023-01-02/2023-01-08', 'W-SUN')

In [66]:
pd.Period("2023-01-08", freq = "W-SUN")

Period('2023-01-02/2023-01-08', 'W-SUN')

In [67]:
pd.Period("2023-01-08", freq = "W-WED")

Period('2023-01-05/2023-01-11', 'W-WED')

In [44]:
pd.Period("2015-12-10", freq = "10D")

Period('2015-12-10', '10D')

In [57]:
dates = ["2023-01-27"]

In [53]:
pd.PeriodIndex(dates, freq = "W-MON")

PeriodIndex(['2023-01-31/2023-02-06'], dtype='period[W-MON]')

## Create Range of Dates with the `pd.date_range()` Method

In [59]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")
times

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [60]:
pd.date_range(start = "2023-01-01", end = "2023-01-15", freq = "3D")

DatetimeIndex(['2023-01-01', '2023-01-04', '2023-01-07', '2023-01-10',
               '2023-01-13'],
              dtype='datetime64[ns]', freq='3D')

In [68]:
# # Create a range of dates, starting on 2023-01-01 and ending on 2023-01-15, at intervals of weeks
pd.date_range(start = "2023-01-01", end = "2023-01-15", freq = "W")

DatetimeIndex(['2023-01-01', '2023-01-08', '2023-01-15'], dtype='datetime64[ns]', freq='W-SUN')

In [62]:
# Create a range of dates, starting on 2023-01-01 and ending on 2023-01-15. Weeks starting on Friday
pd.date_range(start = "2023-01-01", end = "2023-01-15", freq = "W-FRI")

DatetimeIndex(['2023-01-06', '2023-01-13'], dtype='datetime64[ns]', freq='W-FRI')

In [63]:
# Create a range of dates, starting on 2023-01-01 and ending on 2023-01-15. Weeks starting on Wednesdya
pd.date_range(start = "2023-01-01", end = "2023-01-15", freq = "W-WED")

DatetimeIndex(['2023-01-04', '2023-01-11'], dtype='datetime64[ns]', freq='W-WED')

In [71]:
# Create a range of dates, starting on 2023-01-01, with duration of 17 days
pd.date_range(start = "2023-01-01", periods = 17, freq = "D")

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17'],
              dtype='datetime64[ns]', freq='D')

In [72]:
# Create a range of dates, starting on 2023-01-01, with duration of 17 business days
pd.date_range(start = "2023-01-01", periods = 28, freq = "B")

DatetimeIndex(['2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05',
               '2023-01-06', '2023-01-09', '2023-01-10', '2023-01-11',
               '2023-01-12', '2023-01-13', '2023-01-16', '2023-01-17',
               '2023-01-18', '2023-01-19', '2023-01-20', '2023-01-23',
               '2023-01-24', '2023-01-25', '2023-01-26', '2023-01-27',
               '2023-01-30', '2023-01-31', '2023-02-01', '2023-02-02',
               '2023-02-03', '2023-02-06', '2023-02-07', '2023-02-08'],
              dtype='datetime64[ns]', freq='B')

In [74]:
# Create a range of dates, starting on 2023-01-01, with duration of 3 weeks
pd.date_range(start = "2023-01-01", periods = 3, freq = "W")

DatetimeIndex(['2023-01-01', '2023-01-08', '2023-01-15'], dtype='datetime64[ns]', freq='W-SUN')

In [76]:
# Create a range of dates, starting on 2023-01-01, with duration 8 blocks of 6 hours each
pd.date_range(start = "2023-01-01", periods = 8, freq = "6H")

DatetimeIndex(['2023-01-01 00:00:00', '2023-01-01 06:00:00',
               '2023-01-01 12:00:00', '2023-01-01 18:00:00',
               '2023-01-02 00:00:00', '2023-01-02 06:00:00',
               '2023-01-02 12:00:00', '2023-01-02 18:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [77]:
# Create a range of dates, ending on 2022-12-31, starting 25 days before
pd.date_range(end = "2022-12-31", periods = 25, freq = "D")

DatetimeIndex(['2022-12-07', '2022-12-08', '2022-12-09', '2022-12-10',
               '2022-12-11', '2022-12-12', '2022-12-13', '2022-12-14',
               '2022-12-15', '2022-12-16', '2022-12-17', '2022-12-18',
               '2022-12-19', '2022-12-20', '2022-12-21', '2022-12-22',
               '2022-12-23', '2022-12-24', '2022-12-25', '2022-12-26',
               '2022-12-27', '2022-12-28', '2022-12-29', '2022-12-30',
               '2022-12-31'],
              dtype='datetime64[ns]', freq='D')

In [80]:
# Create a range of dates, ending on 2022-12-31, starting on sunday, 7 weeks before
pd.date_range(end = "2022-12-31", periods = 7, freq = "W-SUN")

DatetimeIndex(['2022-11-13', '2022-11-20', '2022-11-27', '2022-12-04',
               '2022-12-11', '2022-12-18', '2022-12-25'],
              dtype='datetime64[ns]', freq='W-SUN')

In [81]:
# Create a range of dates, ending on 2022-12-31, starting on friday, 7 weeks before
pd.date_range(end = "2022-12-31", periods = 7, freq = "W-FRI")

DatetimeIndex(['2022-11-18', '2022-11-25', '2022-12-02', '2022-12-09',
               '2022-12-16', '2022-12-23', '2022-12-30'],
              dtype='datetime64[ns]', freq='W-FRI')

In [83]:
# Create a range of dates, ending on 2022-12-31, with duration 8 blocks of 6 hours each
pd.date_range(end = "2023-01-01", periods = 8, freq = "6H")

DatetimeIndex(['2022-12-30 06:00:00', '2022-12-30 12:00:00',
               '2022-12-30 18:00:00', '2022-12-31 00:00:00',
               '2022-12-31 06:00:00', '2022-12-31 12:00:00',
               '2022-12-31 18:00:00', '2023-01-01 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

## The `.dt` Accessor

In [119]:
# Create a bunch of dates, with duration of 30 days each block, starting on 2022-01-01 and ending on 2022-12-31, 
bunch_of_dates = pd.date_range(start = "2022-01-01", end = "2022-12-31", freq = "30D")

In [120]:
bunch_of_dates

DatetimeIndex(['2022-01-01', '2022-01-31', '2022-03-02', '2022-04-01',
               '2022-05-01', '2022-05-31', '2022-06-30', '2022-07-30',
               '2022-08-29', '2022-09-28', '2022-10-28', '2022-11-27',
               '2022-12-27'],
              dtype='datetime64[ns]', freq='30D')

In [121]:
type(bunch_of_dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [127]:
# Verify the length of bunch_of_dates
len(bunch_of_dates)

13

In [128]:
# Create a series s of dates, from bunch_of_dates
s = pd.Series(bunch_of_dates)
s

0    2022-01-01
1    2022-01-31
2    2022-03-02
3    2022-04-01
4    2022-05-01
5    2022-05-31
6    2022-06-30
7    2022-07-30
8    2022-08-29
9    2022-09-28
10   2022-10-28
11   2022-11-27
12   2022-12-27
dtype: datetime64[ns]

In [131]:
# Verify which of the blocks end in the last day of the month
mask = s.dt.is_month_end

In [132]:
s[mask]

1   2022-01-31
5   2022-05-31
6   2022-06-30
dtype: datetime64[ns]

## Import Financial Data Set with `pandas_datareader` Library

####  Get stock data for 'AAPL' (Apple), starting on 2020-01-01 and ending on 2023-02-17

In [8]:
import pandas as pd

In [9]:
# Python modules necessaries to read stock information from Yahoo Finance
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()

In [10]:
# Get stock data for 'AAPL' (Apple), starting on 2020-01-01 and ending on 2023-02-17
aapl = pdr.get_data_yahoo('AAPL', start='2020-01-01', end='2023-02-17')
aapl

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,74.059998,75.150002,73.797501,75.087502,73.449379,135480400
2020-01-03,74.287498,75.144997,74.125000,74.357498,72.735321,146322800
2020-01-06,73.447502,74.989998,73.187500,74.949997,73.314880,118387200
2020-01-07,74.959999,75.224998,74.370003,74.597504,72.970093,108872000
2020-01-08,74.290001,76.110001,74.290001,75.797501,74.143898,132079200
...,...,...,...,...,...,...
2023-02-10,149.460007,151.339996,149.220001,151.009995,151.009995,57409100
2023-02-13,150.949997,154.259995,150.919998,153.850006,153.850006,62199000
2023-02-14,152.119995,153.770004,150.860001,153.199997,153.199997,61707600
2023-02-15,153.110001,155.500000,152.880005,155.330002,155.330002,65669300
2023-02-16,153.509995,156.330002,153.350006,153.710007,153.710007,68167900

In [11]:
len(aapl)

788

In [12]:
aapl.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 788 entries, 2020-01-02 to 2023-02-16
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       788 non-null    float64
 1   High       788 non-null    float64
 2   Low        788 non-null    float64
 3   Close      788 non-null    float64
 4   Adj Close  788 non-null    float64
 5   Volume     788 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 43.1 KB

In [13]:
aapl.index

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07',
               '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13',
               '2020-01-14', '2020-01-15',
               ...
               '2023-02-03', '2023-02-06', '2023-02-07', '2023-02-08',
               '2023-02-09', '2023-02-10', '2023-02-13', '2023-02-14',
               '2023-02-15', '2023-02-16'],
              dtype='datetime64[ns]', name='Date', length=788, freq=None)

In [14]:
aapl.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [15]:
aapl.axes

[DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07',
                '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13',
                '2020-01-14', '2020-01-15',
                ...
                '2023-02-03', '2023-02-06', '2023-02-07', '2023-02-08',
                '2023-02-09', '2023-02-10', '2023-02-13', '2023-02-14',
                '2023-02-15', '2023-02-16'],
               dtype='datetime64[ns]', name='Date', length=788, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')]

In [16]:
aapl.values

array([[7.40599976e+01, 7.51500015e+01, 7.37975006e+01, 7.50875015e+01,
        7.34493790e+01, 1.35480400e+08],
       [7.42874985e+01, 7.51449966e+01, 7.41250000e+01, 7.43574982e+01,
        7.27353210e+01, 1.46322800e+08],
       [7.34475021e+01, 7.49899979e+01, 7.31875000e+01, 7.49499969e+01,
        7.33148804e+01, 1.18387200e+08],
       ...,
       [1.52119995e+02, 1.53770004e+02, 1.50860001e+02, 1.53199997e+02,
        1.53199997e+02, 6.17076000e+07],
       [1.53110001e+02, 1.55500000e+02, 1.52880005e+02, 1.55330002e+02,
        1.55330002e+02, 6.56693000e+07],
       [1.53509995e+02, 1.56330002e+02, 1.53350006e+02, 1.53710007e+02,
        1.53710007e+02, 6.81679000e+07]])

## Selecting from a `DataFrame` with a `DateTimeIndex`

In [17]:
# Show AAPL's stock values for 2020-01-02
aapl.loc["2020-01-02"]

Open         7.406000e+01
High         7.515000e+01
Low          7.379750e+01
Close        7.508750e+01
Adj Close    7.344938e+01
Volume       1.354804e+08
Name: 2020-01-02 00:00:00, dtype: float64

In [18]:
# Show AAPL's stock values for index with position 300
aapl.iloc[300]

Open         1.204000e+02
High         1.211700e+02
Low          1.191600e+02
Close        1.210300e+02
Adj Close    1.195905e+02
Volume       8.810510e+07
Name: 2021-03-12 00:00:00, dtype: float64

In [19]:
# Show AAPL's stock values from 2020-10-01 to 2022-10-07
aapl.loc["2020-10-01" : "2022-10-07"]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-10-01,117.639999,117.720001,115.830002,116.790001,115.030258,116120400
2020-10-02,112.889999,115.370003,112.220001,113.019997,111.317055,144712000
2020-10-05,113.910004,116.650002,113.550003,116.500000,114.744637,106243800
2020-10-06,115.699997,116.120003,112.250000,113.160004,111.454941,161498200
2020-10-07,114.620003,115.550003,114.129997,115.080002,113.346016,96849000
...,...,...,...,...,...,...
2022-10-03,138.210007,143.070007,137.690002,142.449997,141.997284,114311700
2022-10-04,145.029999,146.220001,144.259995,146.100006,145.635681,87830100
2022-10-05,144.070007,147.380005,143.009995,146.399994,145.934723,79471000
2022-10-06,145.809998,147.539993,145.220001,145.429993,144.967804,68402200
2022-10-07,142.539993,143.100006,139.449997,140.089996,139.644775,85925600

In [20]:
# # Show AAPL's stock values for index with position 300 to 420
aapl.iloc[300:420]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-03-12,120.400002,121.169998,119.160004,121.029999,119.590462,88105100
2021-03-15,121.410004,124.000000,120.419998,123.989998,122.515244,92403800
2021-03-16,125.699997,127.220001,124.720001,125.570000,124.076462,115227900
2021-03-17,124.050003,125.860001,122.339996,124.760002,123.276108,111932600
2021-03-18,122.879997,123.180000,120.320000,120.529999,119.096413,121229700
...,...,...,...,...,...,...
2021-08-25,149.809998,150.320007,147.800003,148.360001,147.064407,58991300
2021-08-26,148.350006,149.119995,147.509995,147.539993,146.251556,48597200
2021-08-27,147.479996,148.750000,146.830002,148.600006,147.302307,55802400
2021-08-30,149.000000,153.490005,148.610001,153.119995,151.782852,90956700
2021-08-31,152.660004,152.800003,151.289993,151.830002,150.504135,86453100

In [21]:
aapl.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02  74.059998  75.150002  73.797501  75.087502  73.449379  135480400
2020-01-03  74.287498  75.144997  74.125000  74.357498  72.735321  146322800
2020-01-06  73.447502  74.989998  73.187500  74.949997  73.314880  118387200
2020-01-07  74.959999  75.224998  74.370003  74.597504  72.970093  108872000
2020-01-08  74.290001  76.110001  74.290001  75.797501  74.143898  132079200

#### Retrieving stock values for AAPL (Apple) from 2023-01-23 to 2023-02-21

In [22]:
import yfinance as yf
import pandas as pd
import json

In [23]:

aapl_ticker = yf.Ticker("AAPL")

In [24]:
aapl_ticker.history(period="1mo")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-01-23 00:00:00-05:00,137.909435,143.101520,137.689769,140.894882,81760300,0.00,0.0
2023-01-24 00:00:00-05:00,140.096097,142.941758,140.086117,142.312714,66435100,0.00,0.0
2023-01-25 00:00:00-05:00,140.675215,142.212861,138.598384,141.643738,65799300,0.00,0.0
2023-01-26 00:00:00-05:00,142.951735,144.030091,141.683667,143.740540,54105100,0.00,0.0
2023-01-27 00:00:00-05:00,142.941753,147.005541,142.861874,145.707520,70492800,0.00,0.0
2023-01-30 00:00:00-05:00,144.739016,145.328113,142.632232,142.781998,64015300,0.00,0.0
2023-01-31 00:00:00-05:00,142.482450,144.119949,142.063092,144.070023,65874500,0.00,0.0
2023-02-01 00:00:00-05:00,143.750517,146.386491,141.104563,145.208282,77663600,0.00,0.0
2023-02-02 00:00:00-05:00,148.673001,150.949524,147.944119,150.590088,118339000,0.00,0.0
2023-02-03 00:00:00-05:00,147.804328,157.140080,147.604636,154.264465,154279900,0.00,0.0
2023-02-06 00:00:00-05:00,152.337419,152.866610,150.550139,151.498688,69858300,0.00,0.0
2023-02-07 00:00:00-05:00,150.410349,154.993348,150.410349,154.414230,83322600,0.00,0.0
2023-02-08 00:00:00-05:00,153.645419,154.344349,150.939544,151.688400,64120100,0.00,0.0
2023-02-09 00:00:00-05:00,153.545567,154.094731,150.190688,150.639999,56007100,0.00,0.0
2023-02-10 00:00:00-05:00,149.460007,151.339996,149.220001,151.009995,57409100,0.23,0.0
2023-02-13 00:00:00-05:00,150.949997,154.259995,150.919998,153.850006,62199000,0.00,0.0
2023-02-14 00:00:00-05:00,152.119995,153.770004,150.860001,153.199997,61707600,0.00,0.0
2023-02-15 00:00:00-05:00,153.110001,155.500000,152.880005,155.330002,65669300,0.00,0.0
2023-02-16 00:00:00-05:00,153.509995,156.330002,153.350006,153.710007,68167900,0.00,0.0
2023-02-17 00:00:00-05:00,152.350006,153.000000,150.850006,152.550003,59095900,0.00,0.0
2023-02-21 00:00:00-05:00,150.199997,151.300003,148.410004,148.479996,58772400,0.00,0.0
2023-02-22 00:00:00-05:00,148.869995,149.500000,147.160004,148.529999,21263999,0.00,0.0

## `Timestamp` Object Attributes

In [25]:
aapl

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,74.059998,75.150002,73.797501,75.087502,73.449379,135480400
2020-01-03,74.287498,75.144997,74.125000,74.357498,72.735321,146322800
2020-01-06,73.447502,74.989998,73.187500,74.949997,73.314880,118387200
2020-01-07,74.959999,75.224998,74.370003,74.597504,72.970093,108872000
2020-01-08,74.290001,76.110001,74.290001,75.797501,74.143898,132079200
...,...,...,...,...,...,...
2023-02-10,149.460007,151.339996,149.220001,151.009995,151.009995,57409100
2023-02-13,150.949997,154.259995,150.919998,153.850006,153.850006,62199000
2023-02-14,152.119995,153.770004,150.860001,153.199997,153.199997,61707600
2023-02-15,153.110001,155.500000,152.880005,155.330002,155.330002,65669300
2023-02-16,153.509995,156.330002,153.350006,153.710007,153.710007,68167900

In [26]:
someday = aapl.index[775]
someday

Timestamp('2023-01-31 00:00:00')

In [27]:
someday

Timestamp('2023-01-31 00:00:00')

In [28]:
print('someday.day: ', someday.day)
print('someday.month: ', someday.month)
print('someday.year: ', someday.year)
print('someday.day_name: ', someday.day_name())
print('someday.is_month_end: ', someday.is_month_end)
print('someday.is_month_start: ', someday.is_month_start)

someday.day:  31
someday.month:  1
someday.year:  2023
someday.day_name:  Tuesday
someday.is_month_end:  True
someday.is_month_start:  False

In [29]:
aapl_bkp = aapl.copy()
aapl_bkp.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02  74.059998  75.150002  73.797501  75.087502  73.449379  135480400
2020-01-03  74.287498  75.144997  74.125000  74.357498  72.735321  146322800
2020-01-06  73.447502  74.989998  73.187500  74.949997  73.314880  118387200
2020-01-07  74.959999  75.224998  74.370003  74.597504  72.970093  108872000
2020-01-08  74.290001  76.110001  74.290001  75.797501  74.143898  132079200

In [30]:
aapl.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02  74.059998  75.150002  73.797501  75.087502  73.449379  135480400
2020-01-03  74.287498  75.144997  74.125000  74.357498  72.735321  146322800
2020-01-06  73.447502  74.989998  73.187500  74.949997  73.314880  118387200
2020-01-07  74.959999  75.224998  74.370003  74.597504  72.970093  108872000
2020-01-08  74.290001  76.110001  74.290001  75.797501  74.143898  132079200

In [31]:
# Insert a column Day of Week in the DataFrame aapl
aapl.insert(0, "Day of Week", aapl.index.day_name())

In [32]:
aapl.head()

,Day of Week,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2020-01-02,Thursday,74.059998,75.150002,73.797501,75.087502,73.449379,135480400
2020-01-03,Friday,74.287498,75.144997,74.125000,74.357498,72.735321,146322800
2020-01-06,Monday,73.447502,74.989998,73.187500,74.949997,73.314880,118387200
2020-01-07,Tuesday,74.959999,75.224998,74.370003,74.597504,72.970093,108872000
2020-01-08,Wednesday,74.290001,76.110001,74.290001,75.797501,74.143898,132079200

## The `.truncate()` Method

In [33]:
aapl["2020-01-01":"2020-01-15"]

,Day of Week,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2020-01-02,Thursday,74.059998,75.150002,73.797501,75.087502,73.449379,135480400
2020-01-03,Friday,74.287498,75.144997,74.125000,74.357498,72.735321,146322800
2020-01-06,Monday,73.447502,74.989998,73.187500,74.949997,73.314880,118387200
2020-01-07,Tuesday,74.959999,75.224998,74.370003,74.597504,72.970093,108872000
2020-01-08,Wednesday,74.290001,76.110001,74.290001,75.797501,74.143898,132079200
2020-01-09,Thursday,76.809998,77.607498,76.550003,77.407501,75.718773,170108400
2020-01-10,Friday,77.650002,78.167503,77.062500,77.582497,75.889961,140644800
2020-01-13,Monday,77.910004,79.267502,77.787498,79.239998,77.511299,121532000
2020-01-14,Tuesday,79.175003,79.392502,78.042503,78.169998,76.464622,161954400
2020-01-15,Wednesday,77.962502,78.875000,77.387497,77.834999,76.136955,121923600

In [34]:
aapl["2023-02-01":"2023-02-17"]

,Day of Week,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2023-02-01,Wednesday,143.970001,146.610001,141.320007,145.429993,145.208282,77663600
2023-02-02,Thursday,148.899994,151.179993,148.169998,150.820007,150.590088,118339000
2023-02-03,Friday,148.029999,157.380005,147.830002,154.500000,154.264465,154279900
2023-02-06,Monday,152.570007,153.100006,150.779999,151.729996,151.498688,69858300
2023-02-07,Tuesday,150.639999,155.229996,150.639999,154.649994,154.414230,83322600
2023-02-08,Wednesday,153.880005,154.580002,151.169998,151.919998,151.688400,64120100
2023-02-09,Thursday,153.779999,154.330002,150.419998,150.869995,150.639999,56007100
2023-02-10,Friday,149.460007,151.339996,149.220001,151.009995,151.009995,57409100
2023-02-13,Monday,150.949997,154.259995,150.919998,153.850006,153.850006,62199000
2023-02-14,Tuesday,152.119995,153.770004,150.860001,153.199997,153.199997,61707600
2023-02-15,Wednesday,153.110001,155.500000,152.880005,155.330002,155.330002,65669300
2023-02-16,Thursday,153.509995,156.330002,153.350006,153.710007,153.710007,68167900

In [35]:
aapl.truncate(before = "2020-01-15", after = "2023-02-01")

,Day of Week,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2020-01-15,Wednesday,77.962502,78.875000,77.387497,77.834999,76.136955,121923600
2020-01-16,Thursday,78.397499,78.925003,78.022499,78.809998,77.090691,108829200
2020-01-17,Friday,79.067497,79.684998,78.750000,79.682503,77.944153,137816400
2020-01-21,Tuesday,79.297501,79.754997,79.000000,79.142502,77.415932,110843200
2020-01-22,Wednesday,79.644997,79.997498,79.327499,79.425003,77.692268,101832400
...,...,...,...,...,...,...,...
2023-01-26,Thursday,143.169998,144.250000,141.899994,143.960007,143.740540,54105100
2023-01-27,Friday,143.160004,147.229996,143.080002,145.929993,145.707520,70492800
2023-01-30,Monday,144.960007,145.550003,142.850006,143.000000,142.781998,64015300
2023-01-31,Tuesday,142.699997,144.339996,142.279999,144.289993,144.070023,65874500
2023-02-01,Wednesday,143.970001,146.610001,141.320007,145.429993,145.208282,77663600

In [36]:
aapl["2023-02-01":"2023-02-17"]

,Day of Week,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2023-02-01,Wednesday,143.970001,146.610001,141.320007,145.429993,145.208282,77663600
2023-02-02,Thursday,148.899994,151.179993,148.169998,150.820007,150.590088,118339000
2023-02-03,Friday,148.029999,157.380005,147.830002,154.500000,154.264465,154279900
2023-02-06,Monday,152.570007,153.100006,150.779999,151.729996,151.498688,69858300
2023-02-07,Tuesday,150.639999,155.229996,150.639999,154.649994,154.414230,83322600
2023-02-08,Wednesday,153.880005,154.580002,151.169998,151.919998,151.688400,64120100
2023-02-09,Thursday,153.779999,154.330002,150.419998,150.869995,150.639999,56007100
2023-02-10,Friday,149.460007,151.339996,149.220001,151.009995,151.009995,57409100
2023-02-13,Monday,150.949997,154.259995,150.919998,153.850006,153.850006,62199000
2023-02-14,Tuesday,152.119995,153.770004,150.860001,153.199997,153.199997,61707600
2023-02-15,Wednesday,153.110001,155.500000,152.880005,155.330002,155.330002,65669300
2023-02-16,Thursday,153.509995,156.330002,153.350006,153.710007,153.710007,68167900

## `pd.DateOffset` Objects

In [37]:
aapl.head()

,Day of Week,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2020-01-02,Thursday,74.059998,75.150002,73.797501,75.087502,73.449379,135480400
2020-01-03,Friday,74.287498,75.144997,74.125000,74.357498,72.735321,146322800
2020-01-06,Monday,73.447502,74.989998,73.187500,74.949997,73.314880,118387200
2020-01-07,Tuesday,74.959999,75.224998,74.370003,74.597504,72.970093,108872000
2020-01-08,Wednesday,74.290001,76.110001,74.290001,75.797501,74.143898,132079200

In [38]:
aapl.index + pd.DateOffset(months = 5, years = 1, days = 12, hours = 3, minutes = 42)

DatetimeIndex(['2021-06-14 03:42:00', '2021-06-15 03:42:00',
               '2021-06-18 03:42:00', '2021-06-19 03:42:00',
               '2021-06-20 03:42:00', '2021-06-21 03:42:00',
               '2021-06-22 03:42:00', '2021-06-25 03:42:00',
               '2021-06-26 03:42:00', '2021-06-27 03:42:00',
               ...
               '2024-07-15 03:42:00', '2024-07-18 03:42:00',
               '2024-07-19 03:42:00', '2024-07-20 03:42:00',
               '2024-07-21 03:42:00', '2024-07-22 03:42:00',
               '2024-07-25 03:42:00', '2024-07-26 03:42:00',
               '2024-07-27 03:42:00', '2024-07-28 03:42:00'],
              dtype='datetime64[ns]', name='Date', length=788, freq=None)

In [39]:
aapl.index - pd.DateOffset(months = 1, years = 1, days = 12, hours = 3, minutes = 42)

DatetimeIndex(['2018-11-19 20:18:00', '2018-11-20 20:18:00',
               '2018-11-23 20:18:00', '2018-11-24 20:18:00',
               '2018-11-25 20:18:00', '2018-11-26 20:18:00',
               '2018-11-27 20:18:00', '2018-11-30 20:18:00',
               '2018-12-01 20:18:00', '2018-12-02 20:18:00',
               ...
               '2021-12-21 20:18:00', '2021-12-24 20:18:00',
               '2021-12-25 20:18:00', '2021-12-26 20:18:00',
               '2021-12-27 20:18:00', '2021-12-28 20:18:00',
               '2021-12-31 20:18:00', '2022-01-01 20:18:00',
               '2022-01-02 20:18:00', '2022-01-03 20:18:00'],
              dtype='datetime64[ns]', name='Date', length=788, freq=None)

In [42]:
import pandas as pd
import datetime as dt
from pandas.tseries.offsets import *

In [43]:
aapl.index

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07',
               '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13',
               '2020-01-14', '2020-01-15',
               ...
               '2023-02-03', '2023-02-06', '2023-02-07', '2023-02-08',
               '2023-02-09', '2023-02-10', '2023-02-13', '2023-02-14',
               '2023-02-15', '2023-02-16'],
              dtype='datetime64[ns]', name='Date', length=788, freq=None)

In [44]:
aapl.index - MonthEnd()

DatetimeIndex(['2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31',
               ...
               '2023-01-31', '2023-01-31', '2023-01-31', '2023-01-31',
               '2023-01-31', '2023-01-31', '2023-01-31', '2023-01-31',
               '2023-01-31', '2023-01-31'],
              dtype='datetime64[ns]', name='Date', length=788, freq=None)

In [45]:
aapl.index - BMonthEnd()

DatetimeIndex(['2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31',
               ...
               '2023-01-31', '2023-01-31', '2023-01-31', '2023-01-31',
               '2023-01-31', '2023-01-31', '2023-01-31', '2023-01-31',
               '2023-01-31', '2023-01-31'],
              dtype='datetime64[ns]', name='Date', length=788, freq=None)

In [46]:
aapl.index - QuarterEnd()

DatetimeIndex(['2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31',
               ...
               '2022-12-31', '2022-12-31', '2022-12-31', '2022-12-31',
               '2022-12-31', '2022-12-31', '2022-12-31', '2022-12-31',
               '2022-12-31', '2022-12-31'],
              dtype='datetime64[ns]', name='Date', length=788, freq=None)

In [47]:
aapl.index - QuarterBegin()

DatetimeIndex(['2019-12-01', '2019-12-01', '2019-12-01', '2019-12-01',
               '2019-12-01', '2019-12-01', '2019-12-01', '2019-12-01',
               '2019-12-01', '2019-12-01',
               ...
               '2022-12-01', '2022-12-01', '2022-12-01', '2022-12-01',
               '2022-12-01', '2022-12-01', '2022-12-01', '2022-12-01',
               '2022-12-01', '2022-12-01'],
              dtype='datetime64[ns]', name='Date', length=788, freq=None)

## The `Timedelta` Object

In [48]:
timeA = pd.Timestamp("2016-03-31 04:35:16 PM")
timeB = pd.Timestamp("2016-03-20 02:16:49 AM")

In [49]:
timeB - timeA

Timedelta('-12 days +09:41:33')

In [50]:
timeA - timeB

Timedelta('11 days 14:18:27')

In [51]:
type(timeA - timeB)

pandas._libs.tslibs.timedeltas.Timedelta

In [52]:
type(timeA)

pandas._libs.tslibs.timestamps.Timestamp

In [53]:
pd.Timedelta(weeks = 8, days = 3, hours = 12, minutes = 45)

Timedelta('59 days 12:45:00')

In [54]:
pd.Timedelta("14 days 6 hours 12 minutes 49 seconds")

Timedelta('14 days 06:12:49')

## `Timedeltas` in a Dataset

In [55]:
# Load data set ecommerce.csv
shipping = pd.read_csv("ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])
shipping.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [56]:
# Determining how long it took to delivery and store the result in a new column named Delivery Time
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]

In [57]:
shipping.head()

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [58]:
# Double the shipping time
shipping["Twice As Long"] = shipping["delivery_date"] + shipping["Delivery Time"]

In [59]:
shipping.head()

   order_date delivery_date Delivery Time Twice As Long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12
5  1992-07-21    1997-11-20     1948 days    2003-03-22
7  1993-09-02    1998-06-10     1742 days    2003-03-18

In [60]:
# Show that the delivery time was doubled
shipping["Delivery Time Double"] = shipping["Twice As Long"] - shipping["order_date"]

In [61]:
shipping.head()

   order_date delivery_date Delivery Time Twice As Long Delivery Time Double
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20             514 days
2  1992-04-22    1998-03-06     2144 days    2004-01-18            4288 days
4  1991-02-10    1992-08-26      563 days    1994-03-12            1126 days
5  1992-07-21    1997-11-20     1948 days    2003-03-22            3896 days
7  1993-09-02    1998-06-10     1742 days    2003-03-18            3484 days

In [62]:
shipping.dtypes

order_date               datetime64[ns]
delivery_date            datetime64[ns]
Delivery Time           timedelta64[ns]
Twice As Long            datetime64[ns]
Delivery Time Double    timedelta64[ns]
dtype: object

In [63]:
# List the ordrs that took more than 2500 days to be delivered
mask = shipping["Delivery Time"] > "2500 days"
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long Delivery Time Double
ID
10  1992-02-23    1998-12-30     2502 days    2005-11-05            5004 days
23  1992-05-30    1999-08-15     2633 days    2006-10-30            5266 days
32  1990-01-20    1998-07-24     3107 days    2007-01-25            6214 days
50  1991-05-03    1999-07-17     2997 days    2007-09-30            5994 days
64  1990-11-25    1998-05-14     2727 days    2005-10-31            5454 days
..         ...           ...           ...           ...                  ...
943 1991-01-30    1999-12-02     3228 days    2008-10-03            6456 days
947 1991-06-18    1999-06-11     2915 days    2007-06-04            5830 days
958 1990-04-26    1997-06-29     2621 days    2004-09-01            5242 days
984 1991-07-25    1999-02-09     2756 days    2006-08-27            5512 days
993 1990-11-16    1998-04-27     2719 days    2005-10-06            5438 days

[63 rows x 5 columns]